@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .footerItems {
    @apply flex flex-col justify-center;
  }
}

@layer base {
  .input-form {
    @apply p-3 rounded-xl outline-none border  bg-transparent;
  }

  .error-message {
    @apply text-red-500 -my-2 ml-2 text-sm;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
